<h1>Listing patients</h1>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Last Exam</th>
      <th>Last Appointment</th>
      <th>Next Appointment</th>
      <th>User</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @patients.each do |patient| %>
      <tr>
        <td><%= patient.name %></td>
        <td><%= patient.last_exam %></td>
        <td><%= patient.last_appointment %></td>
        <td><%= patient.next_appointment %></td>
        <% if patient.user %>
          <td><%= link_to patient.username, edit_patient_user_path(patient, patient.user) %></td>
        <% else %>
          <td><%= link_to patient.username, new_patient_user_path(patient) %></td>
        <% end %>

        <td><%= link_to 'Show', patient %></td>
        <td><%= link_to 'Edit', edit_patient_path(patient) %></td>
        <td><%= link_to 'Destroy', patient, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Patient', new_patient_path %>
