<h1>Listing patients</h1>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Last Exam</th>
      <th>Last Appointment</th>
      <th>Next Appointment</th>
      <th>User</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @patients.each do |patient| %>
      <tr>
        <td><%= patient.name %></td>
        <td><%= format_date(last_exam(patient)) %></td>
        <td><%= format_date(last_appointment(patient)) %></td>
        <td><%= format_date(next_appointment(patient)) %></td>
        <td><%= username(patient) %></td>
        <td><%= link_to 'Show', patient %></td>
        <td><%= link_to 'Edit', edit_patient_path(patient) %></td>
        <td><%= link_to 'Destroy', patient, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Patient', new_patient_path %>
