<%= form_for(@appointment, :html => { :id => '.form-horizontal' }) do |f| %>
  <% if @appointment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@appointment.errors.count, "error") %> prohibited this appointment from being saved:</h2>

      <ul>
      <% @appointment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :start %>
    <div class="controls">
      <%= f.date_field :start %>
      <div class="controls">
        <%= f.time_field :start, ignore_date: true %>
      </div>
    </div>
  </div>
  <div class="field">
    <%= f.label :end %>
    <div class="controls">
      <%= f.date_field :end %>
      <div class="controls">
        <%= f.time_field :end, ignore_date: true %>
      </div>
    </div>
  </div>
  <div class="field">
    <%= f.label :description %>
    <div class="controls">
      <%= f.text_area :description %>
    </div>
  </div>
  <div class="field">
    <%= f.label :patient_id %>
    <div class="controls">
      <%= collection_select(:appointment, :patient_id, Patient.all, :id, :name, prompt: true) %>
    </div>
  </div>
  <div class="field">
    <%= f.label :title %>
    <div class="controls">
      <%= f.text_field :title %>
    </div>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
