<p id="notice"><%= notice %></p>

<p>
  <strong>Patient:</strong>
  <%= @exam.patient.name %>
</p>

<p>
  <strong>Date:</strong>
  <%= @exam.date %>
</p>

<p>
  <strong>Description:</strong>
  <%= @exam.description %>
</p>

<%= link_to 'Edit', edit_patient_exam_path(@exam.patient, @exam) %> |
<%= link_to 'Back', patients_path(@patient) %>
